<% function pageStyles(buf){ %>
  <link rel="stylesheet" href="<%- revAssets("stylesheets/stanby-guideline.css") %>">
<% }; %>

<% function pageScripts(buf){ %>
<% }; %>

<% function pageContents(buf){ %>
  <main class="cm-main">
    <div class="cm-main_head st-with-button cf">
      <h1>スタンバイ掲載ガイドライン</h1>
    </div>
    <div class="cm-main_body">
      <section class="sg-box">
        <h2>求人情報の掲載について</h2>
        <ol class="pg-guideline-list pg-guideline-list-decimal">
          <li>株式会社ビズリーチ（以下、「当社」といいます）が運営する求人検索エンジン「スタンバイ」に求人をご希望の企業様は、企業及び求人の情報を本サービスの管理画面より入力することで掲載することができます。</li>
          <li>入力していただいた情報の内容は、当社の定める基準に適合しているか否かの審査をさせていただきます。遅滞なく審査をさせていただきますが、処理すべき審査業務が大量に発生した場合等には、審査にお時間をいただくことがあることをご了承ください。</li>
          <li>審査の結果、入力された情報が当社の定める基準に反すること、または事実に反することが明らかになった場合には、情報の修正をお願いする、もしくは掲載をお断りさせていただくことがあります。</li>
        </ol>
      </section>
      <section class="sg-box">
        <h2>求人における禁止事項等</h2>
        <ol class="pg-guideline-list pg-guideline-list-decimal">
          <li>以下の様な情報の掲載は、審査の上で掲載をお断りさせていただくことがあります。
            <ol class="pg-guideline-list-kakko">
              <li>ネットワークビジネスなど利殖を目的として投資、代理店、フランチャイズ等にかかわる斡旋、勧誘、募集等</li>
              <li>ダイヤルQ2、出会い系サイト(インターネットや携帯電話向けのアダルト系コンテンツを含むもの)</li>
              <li>消費者金融</li>
              <li>ギャンブルならびにその類似産業（パチンコ、競馬、競艇、オートレース等は除く）</li>
              <li>宗教団体の勧誘または、布教活動に関連するもの</li>
              <li>政党および政治団体の運動に関するもの</li>
              <li>その他、当社が不適当と判断したもの</li>
            </ol>
          </li>
          <li>一度、掲載をさせていただいた情報についても、その後当社が不適当と判断した場合は、事前通知の上で、掲載をお断りさせていただくことがあります。</li>
        </ol>
      </section>
      <section class="sg-box">
        <h2>求人情報への応募への対応</h2>
        <ol class="pg-guideline-list pg-guideline-list-decimal">
          <li>採用企業様は、スタンバイを通じて掲載された求人に応募がなされた場合には、雇用対策法、雇用の分野における男女の均等な機会及び待遇の確保等に関する法律その他法令の定めるところに従い、速やかな選考の実施及びその結果について1週間以内を目処とした応募者への通知をお願いいたします。</li>
          <li>採用企業様は、本サービスを通じて受領した個人情報について、個人情報の保護に関する法律（平成一五年五月三十日法律第五十七号）等の法令の定めに従い、取扱に十分にご注意ください。また、採用目的以外の利用はなさらないようお願いいたします。</li>
        </ol>
      </section>
    </div>
  </main>
<% }; %>

<% include ../../layout/static/layout.ejs %>
