<% function pageStyles(buf){ %>
  <link rel="stylesheet" href="<%- revAssets('stylesheets/stanby-markdown.css') %>">
<% }; %>
<% function pageScripts(buf){ %>
  <script src="<%- revAssets('scripts/pg.markdown.js') %>"></script>
<% }; %>

<% function pageContents(buf){ %>
<header class="pg-markdown-header cf" id="jsi-header">
  <h1 class="fl">仕事内容 入力サンプル</h1>
  <a onClick="window.close();return false;" class="sg-button transparent fr">このウィンドウを閉じる</a>
</header>

<main class="pg-markdown-wrapper">

  <div class="pg-markdown-detail pg-sample-detail">
    <section>
      <h2>正社員雇用向け 入力サンプル</h2>
      <p>応募を促進するため、正社員採用の場合は事業内容や企業理念など、会社について理解が深まるようなコンテンツを掲載することを推奨します。</p>
      <code class="pg-sample-code"><pre>
#事業紹介

スタンバイは、採用業界において画期的なビジネスモデルを提供している会社です。
大企業から中小企業まですべての企業は、スタンバイ上で求人情報を全て無料で作成・公開・管理でき、採用時の追加手数料も一切支払うことなく、採用活動を行えるようになります。また、正社員に限らず、アルバイトからパート、派遣社員まで全ての雇用形態で対応しており、あらゆる採用ニーズに応じて活用できるサービスです。
さらに、企業がスタンバイ上で作成した求人情報だけでなく、全国の求人サイトに掲載されている情報（求人掲載数300万件）をスタンバイ独自の機能によって集約・検索できるようにすることで求職者の利便性も高め、すべての人の「働きたい！」「採用したい！」に応えるもっとも身近な相談パートナーになっていきます。

#会社のビジョン・ミッション

アベノミクス効果で景気が上向くなか、企業の業績が伸長する一方、人材不足を解消できない企業が増えています。特に中小企業の採用課題は深刻で、2015年版の『中小企業白書』によると、中小企業・小規模事業者の約60％が人材を十分確保できておらず、さらに、約40％が「人材不足が事業の維持・成長を阻害している」と回答しているのが現状。
このような中スタンバイは、無料のクラウド型採用サービスを提供することで、すべての企業が無料で簡単に採用できる世界を目指しています。「今よりももっと自由でオープンな採用市場が生まれ、求職者が日本中のすべての選択肢の中から効率的に仕事を選べるようになれば、これまで企業が抱えていた採用コストの問題は解決し、地方や中小企業、ベンチャー企業も含め、日本経済が根底から元気になる」。スタンバイ代表の南は、日本に採用革命を起こし、日本の働き方を変えるべく走り続けます。

#会社の方針

スタンバイのテストリリースは今年の1月、それから4ヶ月あまりで掲載求人数は300万件を超えました。代表である南は、圧倒的なスピード感を持って事業展開していくことが信条、「インターネットの力で世の中の選択肢と可能性を広げていく」ことをミッションに活動してきました。
「人材を必要としている」企業には素晴らしい「人」に出会える場所を、「働きたい」と思った人には多様な選択肢から素晴らしい「仕事」に出会える場所を、スタンバイは提供し続けます。

#こんなことやります

まったく初めての方でも経験豊富なスタッフが初歩から丁寧に指導しますので研修を終えたら一人前のエンジニアとして仕事ができることに加え、今後に活きる資格※1が働きながら自然と取得できます。
個の”圧倒的な”スキル。たくさんの優秀なエンジニアと接することができる環境、裁量の多い業務を通して、エンジニアとしての最新のトレンドや考え方を身につけられるお仕事です。
「え、こんな技術があったの!?やってみたい!!」と、少しでも興味がある方※2は是非お話を聞かせて下さい！私達とインターネットの力で歴史を変えるべく、新しいことにチャレンジしましょう！

* 資格支援もお任せ！
    * 基本情報処理技術者、ネットワークスペシャリスト etc…
* こんな方にオススメです！
    * とにかく新しい技術に興味のある方。
    * もくもくと作業することに楽しさを見いだせる方
    * 歴史創り、社会にインパクトを与えてみたいと考えている方
    * 今まで磨いたスキルをさらに一段階引き上げたいと感じている方

#勤務時間、条件・待遇等

* 9:30~18:00　週休2日（土日）
* 福利厚生・社会保険完備（労災・雇用・健康・厚生年金）
* 資格条件・資格、経験は問いません。未経験者の方もまずはご応募ください。
      </pre></code>
    </section>
    <section>
      <h2>非正規雇用（契約社員やアルバイトなど）向け 入力サンプル</h2>
      <p>契約社員やアルバイトなどの募集の場合、具体的にどのような仕事をするのか、社内環境や条件・待遇はどのようになるのかを掲載するとよいでしょう。</p>
      <code class="pg-sample-code"><pre>
#募集要項

エンジニアのサポート業務を担って頂きます。
具体的には、データの集計作業や計算等、エクセルを用いた作業が中心となります。
まったく初めての方でも経験豊富なスタッフが初歩から丁寧に指導しますのでご安心下さい。
社会で活躍しているエンジニアとともに仕事ができることに加え、今後に活きるスキルを働きながら自然と身に付けることができるため、人気のお仕事です。
「え、こんな仕事があったの!?やってみたい!!」と、少しでも興味がある方は是非お話を聞かせて下さい！私達とインターネットの力で歴史を変えるべく、新しいことにチャレンジしましょう！

##こんな方にオススメです！

* 将来のために技術を身につけたいと考えている方。
* データを扱う仕事が好きな方
* 歴史創り、社会にインパクトを与えてみたいと考えている方

#勤務時間、条件・待遇等

* 週3日勤務から（3時間以上）
* 交通費全額支給
* 資格条件・資格、経験は問いません。未経験者の方もまずはご応募ください。
      </pre></code>
    </section>
  </div>  
</main> 
<% }; %>
<% include ../../layout/simple/layout.ejs %>
