<% function pageStyles(buf){ %>
<link rel="stylesheet" href="<%- revAssets("stylesheets/stanby-terms.css") %>">
<% }; %>

<% function pageScripts(buf){ %>
<% }; %>

<% function pageContents(buf){ %>
<main class="cm-main pg-terms">

  <h1>利用規約</h1>
  <div class="sg-signature-block">
    <dl>
      <dt>制定日</dt>
      <dd>2015年5月26日</dd>
    </dl>
    <dl>
      <dt>改定日</dt>
      <dd>2015年7月8日</dd>
    </dl>
  </div>
  <!--/* 1 */-->
  <section>
    <h2>第1章　総則</h2>
    <section>
      <h3>第1条（適用範囲）</h3>
      <ol>
        <li>本利用規約（以下、「本規約」といいます）は、株式会社ビズリーチ（以下、「当社」といいます）と、利用登録の上、本サービスを利用するすべての企業・団体（以下「利用企業等」といいます）との間の一切の関係に適用するものとします。</li>
        <li>利用企業等は、本規約のほか、当社が定める各種の規約（以下、「個別規定」といいます）に同意いただき、本サービスを利用するものとします。なお、本規約と個別規定の定めが異なる場合には、個別規定の定めが優先するものとします。</li>
        <li>本規約及び個別規定（以下、併せて「本規約等」といいます）については、利用企業等に対する事前の通知なく、当社の判断により、いつでも任意に変更ができるものとします。本規約等が変更された場合、当社が別途定める場合を除き、当社サイトに表示した時点により効力を生じるものとします。また、当該変更後の利用企業による本サービスの利用には変更後の本規約等が適用されるものとし、当該利用により、利用企業等は当該変更に同意したものとみなされます。</li>
        <li>当社は、利用企業等に対して予告なく、本サービスの内容の全部又は一部の変更、提供停止もしくは終了をすることができます。</li>
      </ol>
    </section>
    <section>
      <h3>第2条（定義）</h3>
      <p>本規約において使用する用語の定義は、以下の通りとします。</p>
      <ol>
        <li>
          <dl>
            <dt>「本サイト」　</dt>
            <dd>当社が運営する「スタンバイ」と称する求人情報を提供することを主たる目的としたウェブサイトをいいます。</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>「本サービス」</dt>
            <dd>当社が利用企業等に利用を許諾するスタンバイおよびその関連システムで、利用企業等のパソコン等のデバイスからインターネットに接続し、当社のサーバーにアクセスすることにより、次の各号が可能になる利用企業等向け採用支援サービスをいいます。但し、当社は、当該内容については裁量により変更すること、または別途利用条件を定めることがあり、次の各号のすべての機能を利用企業等に保証するものではありません。
              <ol class="pg-terms-list-kana">
                <li>求人情報の掲載および求人情報へのリンクの設定</li>
                <li>アで掲載した求人情報に対する応募問合せを通じた利用者との連絡通知</li>
                <li>応募者の進捗管理</li>
                <li>その他ア〜ウに付随するサービス</li>
              </ol>
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>「利用者」　</dt>
            <dd>本サイトにインターネットを通じてアクセスし、当社のサービスを現に利用し又は利用しようとする者（利用企業等を除くもの）をいいます。</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>「スタンバイ会員」</dt>
            <dd>利用者のうち、当社の定める方法により「スタンバイ」に登録している会員をいいます。</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>「機密情報」</dt>
            <dd>本サービスに関連し、当社および利用企業等が、相手方に関し知り得た一切の情報（当社および利用企業等の情報、本サービスの内容を含みます）をいいます。ただし、次のア～エに該当する情報を除きます。
              <ol class="pg-terms-list-kana">
                <li>相手から知り得た時点で公知である情報</li>
                <li>相手方から知り得た後、自己の責によらず公知となった情報</li>
                <li>第三者から機密保持義務を負うことなく適法に入手した情報</li>
                <li>相手方から知り得た情報によることなく、独自に開発した情報</li>
              </ol>
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>「個人情報」</dt>
            <dd>利用者個人の氏名・住所・電話番号・年齢・生年月日・職業・メールアドレス等のひとつにより特定の個人を識別することができる情報をいいます。また、その情報のみでは識別できない場合でも、他の情報と容易に照合することができ、結果的に利用者個人を識別できるものも個人情報に含まれます。</dd>
          </dl>
        </li>
      </ol>
    </section>
  </section>

  <!--/* 2 */-->
  <section>
    <h2>第2章　利用契約の成立</h2>
    <section>
      <h3>第3条（利用契約の成立）</h3>
      <ol>
        <li>本サービスの利用を希望する企業・団体は、本サービスを利用するにあたり、当社が指定する企業、団体の情報の登録（以下、「利用登録」といいます）をおこなうにあたり、以下の各号の内容について予め承諾するものとします。
          <ol class="pg-terms-list-kakko">
            <li>本サービスの利用を希望する企業・団体は、自らの意思及び責任をもって、当社所定の方法により、利用登録の申込を行うものとします。</li>
            <li>利用登録を申込む場合には、本サービスが提供する企業情報登録画面より当社が指定する事項を書式又はフォームに記入又は記載しインターネット回線を通じて送信するものとします。登録に必要な情報が当社において問題なく受信されたのち、当社の定める基準による審査により適格と判断され、利用を希望する企業、団体に対して承諾の意思表示がなされた時点で利用登録が完了したものとして、当社と利用企業等の間に本サービスの利用契約が成立したものとします。</li>
            <li>利用登録をしようとする企業・団体は、自身の情報として入力するものは全て真実、正確かつ最新であることを表明保証します。</li>
          </ol>
        </li>
        <li>当社は、前項に基づく本サービスの利用契約の成立をもって、利用企業等に対し、利用対象として指定されたスタンバイおよびその関連システムの範囲に限り、当該範囲についての譲渡不能かつ非独占的な利用権限を許諾するものとします。</li>
      </ol>
    </section>
    <section>
      <h3>第4条（利用ＩＤ・パスワードおよび本人確認）</h3>
      <ol>
        <li>当社は、第3条で定める本サービスの利用契約の成立後、利用企業等に対し、利用企業等の本サービス利用にかかるログインＩＤおよびパスワード（以下、「ＩＤ等」といいます）に、本システムにおける管理画面へのログインの権限を付与します。</li>
        <li>利用企業等は、第三者にＩＤ等を譲渡・貸与・開示・漏洩等をしてはならないものとします。</li>
        <li>利用企業等は、その管理するＩＤ等を第三者に知られた場合や第三者に使用されるおそれのある場合には、直ちに当社にその旨連絡するとともに、当社の指示がある場合にはこれに従うものとします。</li>
        <li>利用企業等は、利用企業等のＩＤ等の有効期限が、利用企業等による最後のログイン日又は本サービスの利用日より６ヶ月であり、当社により有効期限を過ぎたＩＤ等が事前通告の上で削除されうることを予め承諾するものとします。ただし、当社が別に認めた場合はこの限りではありません。なお、有効期間は合理的な範囲内において、利用企業に対して通知することなく当社が変更できるものとします。</li>
      </ol>
    </section>
  </section>

  <!--/* 3 */-->
  <section>
    <h2>第3章　求人情報及び企業情報の掲載</h2>
    <section>
      <h3>第5条（求人情報の掲載）</h3>
      <ol>
        <li>利用企業等は、利用企業等が保有する求人情報を、利用企業等の端末等から本サービスの管理画面より入力することで本サイト上に掲載し、また求人情報の掲載先のリンクを設定することができるものとします。</li>
        <li>利用企業等は、利用企業等に関する企業ロゴ、事業内容等の企業情報（以下、「企業情報」といいます）を利用企業等の末端等から本サービスの管理画面より入力することで本サイト上に掲載することができるものとします。</li>
        <li>当社は、利用企業等が求人情報を入力し又は掲載先のリンクを設定した場合並びに企業情報を入力した場合には、当該求人情報及び企業情報の内容が当社の定める基準に適合しているか否かを遅滞なく審査するものとします。ただし、処理すべき審査業務が大量に発生した場合等には、利用企業等が希望する日時までに審査の処理を行えないことがあることを利用企業等は予め承諾します。</li>
        <li>当社は、入力された求人情報及び企業情報が当社の定める基準に反すること、または事実に反することが明らかになった場合に、利用企業等に対して掲載されている求人情報の修正を行うことを求める権利を有するものとします。利用企業等は、当社から求められた場合、直ちに求人情報の修正を行うものとします。</li>
        <li>当社は、利用企業等が設定したリンク先に掲載されている求人情報が当社の定める基準に反すること、または事実に反することが明らかになった場合には、本サイト上においてリンクを表示しないことができるものとします。</li>
        <li>当社は、利用企業等の求人情報への応募の促進するために必要と判断した場合、その裁量により、利用企業等のうち本サービスに登録の上で求人情報を掲載した全部若しくは一部の利用企業等に対して、本サービスとは別に無償で追加サービスを提供し、又は廃止することができるものとします。</li>
      </ol>
    </section>
    <section>
      <h3>第6条（禁止事項等）</h3>
      <ol>
        <li>利用企業等は、求人情報を掲載し、または、求人情報の掲載されているサイトへのリンクを設定し、もしくは企業情報を掲載するにあたり次に掲げる行為を行ってはならないものとします。当社は、利用企業等が掲載を希望し又は掲載した求人情報及び企業情報に、次に掲げる行為に該当するものがある場合、必要に応じて掲載内容に制限を加え、もしくは掲載を中止することができるものとします。また、リンク先の求人情報に、次に掲げる行為に該当するものがある場合、必要に応じてリンクを非表示とすることができるものとします。
          <ol class="pg-terms-list-kana">
            <li>ネットワークビジネスなど利殖を目的として投資、代理店、フランチャイズ等にかかわる斡旋、勧誘、募集等</li>
            <li>ダイヤルQ2、出会い系サイト(インターネットや携帯電話向けのアダルト系コンテンツを含むもの)</li>
            <li>消費者金融</li>
            <li>ギャンブルならびにその類似産業</li>
            <li>宗教団体の勧誘または、布教活動に関連するもの</li>
            <li>政党および政治団体の運動に関するもの</li>
            <li>その他、当社および掲載箇所の本サイトが不適当と判断したもの</li>
          </ol>
        </li>
        <li>前項の場合において本サイト上に求人情報及び企業情報が掲載できない場合、または掲載された情報からリンク先への接続ができない場合等、本サービスを履行できない事象が生じた場合、かかる事象が生じた場合における当社の責務は、可能な限り当該事象を治癒するよう努めることに限定されるものとします。</li>
        <li>前2項に該当する場合において、本サービスの履行不能または不完全履行の事象が生じた場合であっても、当社は、当該事象に起因する利用企業等の損害および当社の債務不履行に関する責任について免責されるものとします。</li>
      </ol>
    </section>
    <section>
      <h3>第7条（求人情報に関する表明保証）</h3>
      <p>利用企業等は、利用企業等が掲載する求人内容又は設定したリンク先の求人情報の内容もしくは利用企業等が掲載する企業情報が法令・公序良俗等に違反していないこと及び第三者の知的財産権または人権を侵害していないことを表明し保証します。</p>
    </section>
    <section>
      <h3>第8条（掲載の停止）</h3>
      <ol>
        <li>当社は、以下のいずれかの事由が生じた場合には、利用企業等への通知をすることなく、任意に、本サービス内における当該利用企業等の求人情報及び企業情報の掲載を中止し、また本サービスの利用を停止することができます。この場合、利用企業等は速やかに当社の指示に従い、改善措置を取らなければなりません。なお、本条の定めは、当社が本契約の一部又は全部を解除することを妨げないものとします。
          <ol class="pg-terms-list-kana">
            <li>利用企業等が本規約の規定に違反した場合</li>
            <li>利用者および第三者から利用企業等または利用企業等のサービスに関する苦情が発生したとき</li>
            <li>前各号に準じ合理的な必要があると当社が判断した場合</li>
          </ol>
        </li>
        <li>前項に基づく措置が講じられたことにより、利用企業等にいかなる損害が生じたとしても、当社は利用企業等に対して一切損害賠償責任を負わないものとします。</li>
      </ol>
    </section>
    <section>
      <h3>第9条（商標等の利用）</h3>
      <ol>
        <li>利用企業等は当社に対し、当社が本業務を遂行する限りにおいて、利用企業等に帰属する名称、標章、商標もしくは利用企業等が指定した情報等（以下「本件商標等」という）の使用を無償で許諾するものとします。</li>
        <li>前項に定める利用企業等による本件商標等の使用許諾の範囲は、利用企業等が本件業務遂行上必要であると判断して、当社の利用を利用企業等が承諾した範囲内とし、当社はこの範囲を超えて使用してはならないものとします。</li>
        <li>前2項の定めにかかわらず、利用企業等が不適当と認め、当社に通知した場合は、当社は本件商標等の使用を中止し、あるいはその使用態様を変更しなければならないものとします。</li>
      </ol>
    </section>
  </section>

  <!--/* 4 */-->
  <section>
    <h2>第4章　求人情報への応募</h2>
    <section>
      <h3>第10条（求人情報への応募への対応）</h3>
      <ol>
        <li>利用企業等は、利用者から本サービスを通じて利用企業等が掲載した求人情報に応募がなされた場合には、雇用対策法、雇用の分野における男女の均等な機会及び待遇の確保等に関する法律その他法令の定めるところに従い、速やかに選考を実施するものとします。</li>
        <li>利用企業等は、利用者から本サービスを通じて利用企業等が掲載した求人情報に対する問合せがなされた場合、1週間以内に回答するものとします。</li>
        <li>利用企業等は、本サービスを通じて受領した個人情報について、個人情報の保護に関する法律（平成一五年五月三十日法律第五十七号）等の法令の定めに従い取り扱わなければならないものとします。</li>
        <li>利用企業等は、利用企業等に関して利用者その他第三者との間に紛争等が発生し、当社が直接これに対応せざるを得ない場合、当社にかかる合理的な手続き費用等を負担するものとします。</li>
      </ol>
    </section>
  </section>

  <!--/* 5 */-->
  <section>
    <h2>第5章　進捗管理</h2>
    <section>
      <h3>第11条（応募者の進捗管理）</h3>
      <ol>
        <li>利用企業等は、本利用規約第5条第1項により掲載した求人情報及び管理画面から利用企業等が登録した本サービスを通じて本サイトに掲載しない求人情報に関する応募者の履歴書その他選考の進捗状況を管理することができるものとします。ただし、進捗状況の管理に関する仕様等は別途当社の定めるとおりとします。</li>
        <li>当社は、本サービスを利用企業等に提供するにあたり、次の各号に定めるとおり利用者の個人情報を閲覧および利用するものとし、利用企業等はこれを予め承諾するものとします。
          <ol class="pg-terms-list-kakko">
            <li>当社が本サービスを利用企業等に提供するにあたり、必要な範囲内で、利用企業等に応募した利用者の個人情報、応募情報データを閲覧および利用することがあります。</li>
            <li>当社は、企業情報・求人情報・選考の進捗状況その他の利用企業等および利用者による本サービスの利用記録および個人情報を集計・分析し、個人を識別・特定できないように加工した上で統計データ等を作成し、当該統計データ等につき何らの制限なく利用（利用企業等及び第三者への提案、市場の調査、新サービスの開発を含みますが、これらに限られません）することができるものとします。</li>
          </ol>
        </li>
      </ol>
    </section>
  </section>

  <!--/* 6 */-->
  <section>
    <h2>第6章（禁止事項等）</h2>
    <section>
      <h3>第12条（禁止事項）</h3>
      <ol>
        <li>利用企業等は、以下の各号の行為、これらを助長する行為、又は各号に該当するおそれのある行為を行ってはならないものとします。
          <ol class="pg-terms-list-kakko">
            <li>本規約等に違反する行為</li>
            <li>法令又は公序良俗に違反する行為</li>
            <li>違法行為・犯罪行為・反社会的行為を暗示・誘発・助長・推奨等する行為</li>
            <li>当社、掲載企業、他の利用者又は第三者の著作権、商標権等の知的財産権を侵害する行為</li>
            <li>当社、掲載企業、他の利用者又は第三者の財産・信用・名誉・プライバシー等を侵害する行為</li>
            <li>登録情報として事実と異なる不正確な情報を掲載すること</li>
            <li>当社又は第三者になりすます行為</li>
            <li>当社又は第三者のサーバーに負担をかける行為、又は本サービスの運営やネットワーク・システムに支障を与える行為</li>
            <li>コンピュータウィルス等の有害なコンピュータプログラム等を送信又は掲載する行為</li>
            <li>その他、当社が不適切と判断する行為</li>
          </ol>
        </li>
        <li>当社は、利用企業等の行為が本規約等及び法令に違反し、又は前項の禁止行為に該当する場合その他当社が必要と判断した場合には、利用企業等の本サービスの全部又は一部の利用を禁止し、又は利用企業等との契約を解約し、もしくは求人情報等の削除その他あらゆる必要な措置を取ることができるものとします。</li>
      </ol>
    </section>
    <section>
      <h3>第13条（反社会的勢力の排除）</h3>
      <ol>
        <li>利用企業等は、現在および将来において、次の各号に掲げる事項を表明し保証するものとします。
          <ol class="pg-terms-list-kakko">
            <li>利用企業等、利用企業等の役員または実質的に経営権を有する者（以下「利用企業等の役員等」という。）が、暴力団、暴力団員、暴力団員でなくなった時から５年を経過しない者であること、暴力団準構成員、暴力団関係者、総会屋その他の反社会的勢力（以下、総称して「反社会的勢力」という。）に該当しないこと。</li>
            <li>利用企業等が、反社会的勢力により、その事業活動を支配されていないこと。</li>
            <li>利用企業等もしくは利用企業等の役員等が、反社会的勢力に対して資金等を提供し、または便宜を供与し、もしくは便宜の供与を受ける等の関係を有していないこと。</li>
            <li>前各号のほか、利用企業等または利用企業等の役員等が、反社会的勢力と関係を有することによって、社会的に非難されることがないこと</li>
          </ol>
        </li>
        <li>当社は、利用企業等が前項各号のいずれかに該当することが明らかになった場合には、通知をすることなく契約を解除することができるものとします。ただし、当社は、本項に基づく解除により利用企業等に生じた損害について賠償する責任を負わないものとし、当社に損害が生じた場合には利用企業等は損害を賠償しなければならないものとします。</li>
      </ol>
    </section>
    <section>
      <h3>第14条（免責事項）</h3>
      <ol>
        <li>当社は、利用企業等に対して、利用者を本サービスから設定されたリンク先への送客後、利用者のリンク先における利用企業等又は第三者保有のサイトの利用態様について一切責任を負わないものとします。</li>
        <li>本サービスの利用は、利用企業等の判断と責任において行われるものとします。当社は、利用者の資質・能力および利用企業等への適合性等につき保証しないものとし、利用企業等と利用者の間に生じた一切のトラブルについて、何らの責任も負わないものとします。</li>
        <li>当社は、利用企業等が掲載した求人情報及びリンクを設定した求人情報に対する送客数及び応募数について、一切の保証をしないものとします。</li>
        <li>当社は、通信回線やコンピュータ等の障害によるシステムの中断・遅滞・中止・データの消失、データへの不正アクセスにより生じた損害、その他本サイトのサービスに関して利用企業等に生じた損害について、一切責任を負わないものとします。</li>
        <li>当社は、第5条第6項に定める追加サービスを提供し、又は提供しないことにより生じた損害について一切の責任を負わないものとします。</li>
        <li>当社は、利用企業等が、本サービスを通じて求人情報を掲載し、又はリンクを設定したことにより生じたいかなる損害について、一切の責任を負わないものとします。</li>
        <li>当社は、本サービスの内容をいつでも任意の理由で変更、追加、中断、終了（以下本条において「変更等」といいます）することができるものとします。当社は、本サービスの変更等により生じたいかなる損害について、一切の責任を負わないものとします。</li>
      </ol>
    </section>
    <section>
      <h3>第15条（補償）</h3>
      <p>利用企業等は、その行為が原因で生じたクレームなどに関連して、当社に費用や損害が発生した場合又は当社が賠償金等の支払を行った場合、当該費用、損害や賠償金等（当社が支払った弁護士費用を含みます）を負担するものとします。</p>
    </section>
    <section>
      <h3>第16条（知的財産権の保護）</h3>
      <p>本サービスに提供されているコンテンツは、著作権法、商標法、意匠法その他の法令等により保護されます。</p>
    </section>
    <section>
      <h3>第17条（本サービスの休止）</h3>
      <ol>
        <li>当社は、以下の各号のいずれかに該当する場合、又は該当するおそれがあると当社が判断するときは、本サービスの提供を休止することができます。本サービスの提供を休止した場合に、利用企業等が被った損害について当社は賠償の責任を負わないものとします。
          <ol class="pg-terms-list-kakko">
            <li>当社のサーバーやソフトウェア等電気通信設備の保守、点検、修理、データ更新の必要があるとき</li>
            <li>設備の故障等やむを得ない事情があるとき</li>
            <li>電気通信事業法第8条の規定に基づき、天災その他の非常事態が発生し、もしくはそのおそれがあり、公共の利益の為に緊急を要する通信を優先させる必要があるとき</li>
            <li>電気通信事業者等が、電気通信サービスを中断したとき</li>
            <li>利用企業等の行為が当社の電気通信設備に支障を及ぼし、又はそのおそれがあり、その結果、当社の業務遂行に支障が生じると当社が認めたとき</li>
          </ol>
        </li>
        <li>当社は、本サービスを休止する場合には、利用企業等に対して、その旨ならびに理由および期間を通知します。但し、定期的なメンテナンスや一時的なサーバーダウン、その他緊急を要する場合はこの限りではありません。</li>
      </ol>
    </section>
    <section>
      <h3>第18条（本サービスの廃止）</h3>
      <ol>
        <li>当社は、自己の裁量に基づき、本サービスの一部又は全部を廃止することができるものとします。</li>
        <li>当社は、本サービスを廃止するときは、廃止する日の１ヶ月前までに本サービス上にて利用企業等にその旨を通知するものとします。</li>
        <li>利用企業等は、本サービスが廃止されることにより、利用企業等が本サービス利用の目的を達することができない場合は、本契約を終了させることができるものとします。</li>
      </ol>
    </section>
    <section>
      <h3>第19条（本契約の解除、終了）</h3>
      <ol>
        <li>当社は、前項の定めにかかわらず、利用企業等が次の各号の一に該当するときには、事前の催告を要することなく、利用企業等に対し通知し、本契約を解除することができるものとします。
          <ol class="pg-terms-list-kakko">
            <li>差押え、仮差押え、仮処分、租税滞納処分等の処分を受け、または破産、民事再生、特別清算、会社更生等を自ら申し立てもしくは申し立てを受けたとき</li>
            <li>手形・小切手の不渡処分を受け、またはその他支払い不能となったとき</li>
            <li>事業の全部または重要な部分を他に譲渡したとき</li>
            <li>合併や事業の廃止等により経営環境に大きな変化が生じたとき</li>
            <li>その他本規約に定める事項を遂行できる見込みがないとき</li>
          </ol>
        </li>
        <li>利用企業等が、本契約の解約を希望する場合には、本サービスが提供する情報登録画面より当社が指定する事項を書式又はフォームに記入又は記載しインターネット回線を通じて送信するものとします。登録に必要な情報が当社において問題なく受信されたのち、利用企業に対して解約を承諾する意思表示がなされた時点で本契約が終了したものとします。</li>
        <li>前2項にもとづき契約が解約し、又は終了した場合であっても、本規約第14条（免責事項）、第15条（補償）、第16条（知的財産権の保護）、第20条（個人情報の取扱）、第21条（秘密保持）、第24条（準拠法・合意管轄）は有効に存続するものとします。</li>
      </ol>
    </section>
  </section>

  <!--/* 7 */-->
  <section>
    <h2>第7章　情報の取り扱い</h2>
    <section>
      <h3>第20条（個人情報の取扱）</h3>
      <p>当社は、利用者の個人情報を当社が別途定める「プライバシーポリシー」に基づき、適切に取り扱うものとします。</p>
    </section>
    <section>
      <h3>第21条（秘密保持）</h3>
      <p>利用企業等は、本サービスに関連して当社が利用企業等に対して開示した機密情報および個人情報について、当社の事前の書面による承諾がある場合を除き、秘密に取り扱うものとし、第三者に対して開示し又は本契約の目的の達成以外の目的で利用しないものとします。</p>
    </section>
  </section>

  <!--/* 8 */-->
  <section>
    <h2>第8章　その他</h2>
    <section>
      <h3>第22条（通知・連絡手段）</h3>
      <ol>
        <li>当社から利用企業等への通知・連絡は、原則電子メールで行います。利用企業等は、当社への問い合わせを希望される場合に、当社が設けたお問い合わせページ又は当社が指定するメールアドレス宛の電子メールによって行うものとします。なお、利用企業等から正確な連絡先の提供がなされていない場合の不利益に関しては、当社は一切責任を負いません。</li>
        <li>当社は、原則として電話、訪問による通知・連絡を承りません。</li>
      </ol>
    </section>
    <section>
      <h3>第23条（権利譲渡の制限）</h3>
      <ol>
        <li>利用企業等は、本規約等上の地位に基づく一切の権利義務を、当社の事前の書面による承諾なく、第三者に譲渡もしくは貸与し、又は担保に供してはならないものとします。</li>
        <li>当社は、本サービスに関する事業を事業譲渡その他の事由により第三者に承継させる場合には、当該事業の承継に伴い、本規約等上の地位、本規約等に基づく権利、義務及び利用企業等の登録情報その他利用企業等の情報を当該事業の承継人に譲渡することができるものとし、利用企業等は、かかる譲渡について予め同意したものとします。</li>
      </ol>
    </section>
    <section>
      <h3>第24条（準拠法・合意管轄）</h3>
      <p>本規約等は日本法を準拠法とし、本サービスに関する一切の紛争については、東京地方裁判所又は東京簡易裁判所を第一審の専属的合意管轄裁判所とします。</p>
    </section>
    <p>以上</p>
  </section>
</main>
<% }; %>

<% include ../../layout/static/layout.ejs %>
