<div class="pg-visitor-box">

  <h1>パスワード再設定</h1>
  
  <!-- Email Input Form -->
  <form name="form" class="form-horizontal" ng-if="!c.isSent" novalidate>
    <section class="sg-form">
      <div class="sg-form_element">
        <input type="email" placeholder="登録したメールアドレス" autofocus
          name="email" ng-model="c.email" st-validate-email required>
        <ul class="sg-error" ng-show="form.$dirty">
          <li ng-show="form.email.$error.required">必須項目です</li>
          <li ng-show="form.email.$error.email || form.email.$error.stEmail">メールアドレスの形式が正しくありません</li>
        </ul>
      </div>
      <div class="sg-form_next sg-form_element">
        <input type="submit" value="再発行する" class="sg-button sg-button-l sg-button-secondary" ng-click="c.submit(form)" ng-disabled="form.$invalid">
      </div>
    </section>
    <p class="sg-centering"><a href="/login">ログイン画面へ戻る</a></p>
  </form>

  <!-- Email with Token Sent -->
  <div class="pg-reset-box" ng-if="c.isSent">
    <p>
      パスワード再設定用リンクを記載したメールが送付されました、ご確認ください。<br>
      もしメールが届かなかった場合、お手数ですが、もう一度申請をしてください。
    </p>
    <p class="sg-centering"><a href="/login" class="sg-button sg-button-l sg-button-secondary">ログイン画面へ戻る</a></p>
  </div>

</div>