<% function pageStyles(buf){ %>
<% }; %>

<% function pageScripts(buf){ %>
<script src="<%- revAssets('scripts/forgot-password-page.js') %>"></script>
<% }; %>

<% function pageContents(buf){ %>
<header class="cm-header">
  <p class="cm-header_logo"><a href="/" class="sg-logo sg-logo-site">Stanby</a></p>
</header>
<div id="jsi-wrapper" class="cm-wrapper">
  <div class="cm-row-main">
    <main class="cm-main pg-visitor-main">
      <!--[if lt IE 9]>
        <div class="alert alert-danger"><span>現在使用中のInternet Explorerのバージョンはサポートされていません。</span></div>
      <![endif]-->
      <ui-view></ui-view>
    </main>
  </div>
</div>
<% }; %>

<% include ../layout/visitor/layout.ejs %>
