<% function pageStyles(buf){ %>
  <link rel="stylesheet" href="<%- revAssets('stylesheets/stanby-privacy.css') %>">
<% }; %>

<% function pageScripts(buf){ %>
<% }; %>

<% function pageContents(buf){ %>
<main class="cm-main pg-privacy">
  <h1>プライバシーポリシー</h1>
  <section>
    <h2>個人情報保護方針</h2>
    <div class="sg-signature-block">
      <dl>
        <dt>制定日</dt>
        <dd>2010年9月1日</dd>
      </dl>
      <dl>
        <dt>株式会社ビズリーチ 代表取締役</dt>
        <dd>南 壮一郎</dd>
      </dl>
    </div>
    <p>当社は、転職・求人サイト運営業務を主力事業とする企業として、個人情報を大切に保護することを当社の重要な社会的使命と認識し、役員はじめ全従業者が当社がすべての事業で取り扱う個人情報及び当社従業者等の個人情報に関して、個人情報保護に関する法規範を遵守するためJISQ15001に準拠した個人情報保護マネジメントシステムを構築して適切に運用し、常に社会的要請の変化に着目しつつ個人情報保護マネジメントシステムの継続的改善に全社を挙げて取り組むことを宣言いたします。</p>
    <ol class="pg-privacy-list pg-list-decimal">
      <li>個人情報保護の重要性を強く認識し、転職・求人サイト運営業務等、当社の事業活動を遂行するために必要な範囲内で利用目的を明確に定め適切に個人情報の取得、利用及び提供をおこないます。取得した個人情報は利用目的の範囲内でのみ利用し、目的外利用を行わないための措置を講じます。</li>
      <li>前項の措置により取得した当社の事後活動で取り扱う個人情報及び当社従業者等から取得した個人情報の取扱いの全部又は一部を委託する場合、及び個人情報を第三者に提供する場合には、十分な個人情報の保護水準を満たした事業者を選定し、契約等により適切な措置を講じます。</li>
      <li>安心して個人情報をご提供いただけるように、個人情報の漏えい、滅失又はき損等の危険に対して、合理的な安全対策及び予防・是正措置を講じます。</li>
      <li>大切な個人情報をお預かりする企業として、個人情報保護の取扱いに関する法令、個人情報保護法に基づいて各所管官庁が作成したガイドライン・指針、JIS Q 15001をはじめとするその他の規範を遵守します。</li>
      <li>個人情報を適切に利用し、またその保護を徹底するために個人情報保護マネジメントシステムの継続的な見直し及び改善を行います。</li>
      <li>弊社の個人情報の取扱いに関する苦情及び相談等があった場合には、下記の個人情報に関する苦情及び相談窓口にて、迅速かつ適切な対応をいたします。</li>
    </ol>
    <section class="pg-privacy-desk">
      <h4>個人情報に関する苦情及び相談窓口</h4>
      <p>株式会社ビズリーチ</p>
      <dl class="pg-privacy-desk-tel">
        <dt>電話</dt>
        <dd>03-6450-5167</dd>
      </dl>
      <dl class="pg-privacy-desk-address">
        <dt>住所</dt>
        <dd>〒150-0002 東京都渋谷区渋谷2-15-1</dd>
      </dl>
    </section>
  </section>
  <section>
    <h2>取得する個人情報の取扱いについて</h2>
    <section>
      <h3>1. 取得及び利用目的</h3>
      <p>株式会社ビズリーチ（以下「弊社」という）は、ご本人の氏名、住所、メールアドレス、電話番号、生年月日、性別などの個人を識別できる情報を以下に掲げる目的のために取得します。</p>
      <ol class="pg-privacy-list pg-list-decimal">
        <li>本サービスの会員情報の認証、管理、事務連絡及び本サービスを提供するため</li>
        <li>当社が運営するサービスないしシステムに登録し、または当社と提携した事業者又は求人企業に情報を提供するため</li>
        <li>当社の運営する各種サービスに関するメールマガジン等の情報を配信するため</li>
        <li>当社及び第三者の商品等の広告、宣伝、販売の勧誘のため</li>
      </ol>
    </section>
    <section>
      <h3>2. 預託・提供</h3>
      <p>弊社は、法令で定める場合を除き個人を特定できる情報（氏名、住所、メールアドレス、電話番号等）を取得目的の範囲を超えて当該個人の同意なしに第三者への提供や預託はいたしません。</p>
    </section>
    <section>
      <h3>3. 個人情報の提供について</h3>
      <p>弊社は、取得したご本人の個人情報を、就職・転職活動をおこなうため職業紹介事業者、企業の人事担当者に対して提供する場合を除き、利用者の同意のない限り、第三者に個人情報を提供することはありません。</p>
    </section>
    <section>
      <h3>4. 情報の開示・訂正・削除</h3>
      <p>弊社は、個人情報の開示、訂正、追加又は削除、利用目的の通知、利用又は提供の拒否についての依頼を受けた場合は、弊社の手続きに従って速やかに対応します。</p>
    </section>
    <section>
      <h3>5. 安全管理</h3>
      <p>弊社は、個人情報への不正アクセスまたは個人情報の紛失、破壊、改ざん、漏えいなどの危険に対して、技術面及び組織面において必要な安全対策を継続的に講じるよう努めます。</p>
    </section>
    <section>
      <h3>6. 個人情報提供の任意性</h3>
      <p>個人情報の弊社への提供は、ご本人の同意に基づく任意ですが、必要な情報が提供されない場合、会員登録及び弊社サービスの利用ができない場合もありうることをご承知ください。</p>
    </section>
    <section>
      <h3>7. 個人情報保護管理者及び問合せ先</h3>
      <p>弊社では、個人情報を適切に保護するための管理者を下記の者が担当いたしております。また個人情報管理に関する問い合わせや開示、訂正または削除の依頼は、下記までご連絡下さい。</p>
      <section class="pg-privacy-desk">
        <h4>個人情報保護管理者：社長室長</h4>
        <p>個人情報に関する苦情及び相談窓口</p>
        <dl class="pg-privacy-desk-tel">
          <dt>電話</dt>
          <dd>03-6450-5167</dd>
        </dl>
        <dl class="pg-privacy-desk-address">
          <dt>住所</dt>
          <dd>〒150-0002 東京都渋谷区渋谷2-15-1</dd>
        </dl>
      </section>
    </section>
  </section>
</main>
<% }; %>

<% include ../../layout/static/layout.ejs %>
