@charset "utf-8";

.cm-main {
  width: auto;
  max-width: 99999px;
  min-width: 960px;
}
.cm-main_table {
  min-width: 0;
}
.cm-main_table > tbody > tr > td {
  white-space: normal;
}

/* Summary */
.pg-summary {
  position: relative;
  padding: 20px 260px 10px 40px;
  border-bottom: 1px solid #E5E5E5;
}
.pg-publishedlist {
  opacity: .9; 
  display: inline-block;
  width: 144px;
  height: 28px;
  line-height: 28px;
  margin-left: 20px;
  background-color: #74D732;
  border-radius: 14px;
  color: #FFFFFF;
  font-size: 12px;
  text-align: center;
  vertical-align: 15px;
  transition: 150ms ease-out;
}
.pg-publishedlist:hover {
  opacity: 1;
}
.pg-publishedlist:after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 14px;
  margin-left: 5px;
  background-image: url(/images/sg.icon.newwindow.white.svg);
  background-repeat: no-repeat;
  background-size: 16;
  vertical-align: -2px;
}
.pg-summary-newjob {
  position: absolute;
  top: 0;
  right: 20px;
  bottom: 0;
  margin: auto;
}
.pg-summary-company {
  font-size: 18px;
}
.pg-summary-company + * {
  margin-top: 10px;
}
.pg-summary-counts {
  margin-left: -11px;
  font-size: 0;
}
.pg-summary-count {
  display: inline-block;
}
.pg-summary-count + .pg-summary-count {
  margin-left: 20px;
}
.pg-summary-count > a {
  display: block;
  padding: 7px 10px 2px;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  color: #888888;
  transition: 150ms ease-out;
  transition-property: border-color color;
}
.pg-summary-count > a:hover {
  border-color: #088FC6;
  color: #088FC6;
}
.pg-summary-count-number {
  float: right;
  line-height: 1;
  margin-top: -2px;
  margin-left: 15px;
  font-size: 38px;
}
.pg-summary-count-text {
  display: block;
  float: left;
  font-size: 12px;
  float: right;
}
.pg-summary-count-text > span {
  display: block;
  white-space: nowrap;
  line-height: 1.4;
}
.pg-summary-count-text > span ~ span {
  clear: both;
}
.pg-summary-count-status {
  font-weight: bold;
}

/* Side */
.pg-rowmain {
  position: relative;
}
.pg-rowmain:before {
  z-index: 1;
  position: absolute;
  content: '';
  display: block;
  top: 0;
  right: 0;
  bottom: -40px;
  width: 260px;
  background-color: #F2F2F2;
  border-left: 1px solid #E5E5E5;
}
.pg-side {
  z-index: 2;
  position: relative;
  float: right;
  width: 220px;
  padding: 40px 20px;
}
.pg-side-beginner {
  padding: 30px 20px;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
}
.pg-side-beginner-head {
  color: #888888;
  font-size: 16px;
  font-weight: bold;
}
.pg-side-beginner-head + * {
  margin-top: 10px;
}
.pg-side-beginner > ul > li {
  position: relative;
  padding-left: 20px;
}
.pg-side-beginner > ul > li + li {
  margin-top: 6px;
}
.pg-side-beginner > ul > li.done {
  color: #FBAF0A;
  text-decoration: line-through;
}
.pg-side-beginner > ul > li:before {
  position: absolute;
  top: 9px;
  left: 0;
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  background-color: #CCCCCC;
  border-radius: 5px;
}
.pg-side-beginner > ul > li.done:before {
  top: 6px;
  width: 13px;
  height: 10px;
  background: url(/images/sg.icon.check.orange.svg) no-repeat;
  background-size: 13px 10px;
  border-radius: 0;
}
.pg-side-beginner > ul > li > a:hover {
  color: #088FC6;
  text-decoration: underline;
}
* + .pg-side-section {
  margin-top: 40px;
}
.pg-side-section a:hover {
  color: #088FC6;
  text-decoration: underline;
}
.pg-side-section-head {
  color: #888888;
  font-weight: bold;
}
.pg-side-section-head + * {
  margin-top: 13px;
}
.pg-side-section > ul > li {
  position: relative;
  padding-left: 14px;
}
.pg-side-section > ul > li + li {
  margin-top: 3px;
}
.pg-side-section > ul > li:before {
  position: absolute;
  top: 9px;
  left: 0;
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  background-color: #CCCCCC;
  border-radius: 5px;
}
.pg-side-contactmembers > li {
  line-height: 1.3;
  padding: 8px 0;
  color: #333333;
}
.pg-side-contactmembers > li + li {
  margin-top: 0 !important;
  border-top: 1px solid #E5E5E5;
}
.pg-side-contactmembers > li:before {
  display: none !important;
}
.pg-side-contactmembers > li > span {
  display: block;
  color: #888888;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Main */
.pg-main {
  overflow: hidden;
  padding: 40px 25px 40px 40px;
}

/* Section */
.pg-section + .pg-section {
  margin-top: 35px;
}
.pg-section-head {
  font-size: 18px;
  font-weight: bold;
}
.pg-section-head + * {
  margin-top: 30px;
}
.pg-section-head > a {
  color: #27434F;
}
.pg-section-head > a:hover {
  color: #088FC6;
  border-bottom: 1px solid #088FC6;
}
.pg-section-head-all {
  margin-left: 12px;
  font-size: 14px;
  font-weight: normal;
}
.pg-section-head-all > span {
  font-weight: bold;
}
.pg-section-head-all:after {
  content: '≫';
  display: inline-block;
  margin-left: 5px;
  vertical-align: 1px;
}
.pg-section-empty {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #FCFCFC;
  border: 1px dashed #E5E5E5;
  color: #888888;
  font-size: 16px;
  text-align: center;
}
.pg-section-empty > a {
  font-weight: bold;
}
.pg-section-empty > a:hover {
  text-decoration: underline;
}

/* Table */
.pg-section-table {
  table-layout: fixed;
}
.pg-section-table > thead > tr > td {
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  color: #888888;
  text-align: left;
}
.pg-section-table > thead > tr > td.count,
.pg-section-table > tbody > tr > td.count {
  text-align: center;
}
.pg-section-table > tbody > tr > td {
  padding: 0;
  transition: background-color 150ms ease-out;
}
.pg-section-table > tbody > tr > td.count:hover {
  background: #eef8fc;
}
.pg-section-table > tbody > tr > td.attention {
  font-weight: bold;
}
.pg-section-table > tbody > tr > td.attention > a {
  color: #F65E00;
}
.pg-section-table > tbody > tr > td > a {
  display: block;
  padding: 6px 14px;
  color: #333333;
}
.pg-section-table-explain {
  display: block;
  width: 100%;
  overflow: hidden;
  color: #888888;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.pg-section-table-explain > span {
  line-height: 1.25;
}
.pg-section-table-explain > span:nth-child(2):before {
  content: '/';
  padding-right: 3px;
}
* + .pg-section-continue {
  margin-top: 10px;
}
.pg-section-continue {
  display: block;
}

/* Account */
* + .pg-account {
  margin-top: 75px;
}
.pg-account-head {
  font-size: 24px;
}
* + .pg-account-row {
  margin-top: 35px;
}
.pg-account-users {
  float: left;
  width: 48.5%;
}
.pg-account-corporate {
  float: right;
  width: 48.5%;
}
.pg-account-row > section > h3 > a {
  color: #27434F;
}
.pg-account-row > section > h3 > a:hover {
  color: #088FC6;
}
.pg-account-row > section > h3 + * {
  margin-top: 15px;
}
.pg-account-explain {
  color: #888888;
}
.pg-account-explain + * {
  margin-top: 12px;
}
