<div class="pg-visitor-box">
  <h1>パスワードのリセット</h1>
  
  <!-- Password Reset Form -->
  <div ng-if="tokenValid && !resetComplete">
    <form name="form" class="form-horizontal" novalidate>
      <section class="sg-form">
        <div class="sg-form_element">
          <input class="form-control" type="password" autocomplete="off" autofocus
            name="newPassword" ng-model="c.newPassword" 
            required ng-pattern="/^(?=.*[a-z].*).{8,40}$/"
            stb-tooltip="半角英字を１文字以上含む8-40文字にしてください<br>({% $viewLength %}/40文字まで)" placeholder="新しいパスワード" />
          <ul ng-if="form.newPassword.$dirty" class="sg-error">
            <li ng-show="form.newPassword.$error.required">入力必須です</li>
            <li ng-show="form.newPassword.$error.pattern">半角英字を１文字以上含む8-40文字にしてください</li>
          </ul>
        </div>

        <div class="sg-form_element">
          <input class="form-control" type="password" autocomplete="off"
             name="newPasswordConfirmation" ng-model="c.newPasswordConfirmation"
             required ui-validate="{same: '$value == c.newPassword'}" ui-validate-watch="{same: 'c.newPassword'}"
             stb-tooltip="確認のため再度パスワードを入力してください" placeholder="確認用パスワード"/>
          <ul ng-if="form.newPasswordConfirmation.$dirty" class="sg-error">
            <li ng-show="form.newPasswordConfirmation.$error.required">入力必須です</li>
            <li ng-show="form.newPasswordConfirmation.$error.same">確認用パスワードが一致しません</li>
          </ul>
        </div>

        <div class="sg-form_next sg-form_element sg-form_element-center">
          <input type="submit" value="パスワードをリセットする" class="sg-button sg-button-l sg-button-secondary" ng-click="c.resetPassword(form)">
        </div>
      </section>
    </form>
  </div>

  <!-- Password Reset Token Invalid -->
  <div ng-if="tokenInvalid && !resetComplete">
    無効なトークンです。下記リンクからリセット用メールアドレスを再発行してください。<br/><br/>
    <a href="/forgot-password">パスワードを忘れた方はこちら</a>
  </div>

  <!-- Password Reset Complete -->
  <div class="panel-body" ng-if="resetComplete">
    パスワードのリセットが完了しました<br/><br/>
    <a href="/">トップページへ</a>
  </div>
</div>