<!DOCTYPE html>
<html ng-app="todo">
	<head>
		<meta charset="utf-8">
		<title>TODOアプリ</title>
		<link rel="stylesheet" href="./css/app.css" charset="utf-8">
		<link rel="stylesheet" href="./css/bootstrap.css" charset="utf-8">
		<script type="text/javascript" src="./scripts/libs/angular.js"></script>
		<script type="text/javascript" src="./scripts/app.js"></script>
	</head>
	<body ng-controller="TodoController">
		<div>
			<form>
				<label>やること
				 <input type="text" ng-model="text">
				</label>
			</form>
			<button ng-click="insert()">追加・更新</button>
		</div>
		<div>
			<div ng-show="todoLIst.length == 0">
				↑のフォームでTODOを入力してください
			</div>
			<div ng-repeat="todo in todoList">
				<span ng-class="{delete: todo.done}">{{ todo.text }}</span>
				<button ng-click="update(todo)">{{ todo.done ? '戻す' : '完了' }}</button>
			</div>
			<button ng-click="deleteDoneItems()">完了済みを削除</button>
		</div>
	</body>
</html>
