<!DOCTYPE html>
<html ng-app="myapp">
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="../scripts/vendor_js/jquery.min.js"></script>
		<script src="../scripts/vendor_js/angular.min.js"></script>
		<script src="../scripts/controllers/controllers.js"></script>
	</head>
	<body>
		<div ng-controller="myController">
			<pre>
				<ul>
					<li ng-repeat="(key,val) in datas">{{ key }}{{ val }}</li>
					<li ng-repeat="data in datas">{{ $index }}</li>
					<li ng-repeat="data in datas">{{ data.name }}</li>
					<li ng-repeat="data in datas">{{ ($first) ? '○' : '×' }}</li>
					<li ng-repeat="data in datas">{{ ($even) ? '○' : '×' }}</li>
					<li ng-repeat="data in datas">{{ ($middle) ? '○' : '×' }}</li>
					<li ng-repeat="data in datas">{{ data.age | number}}</li>
					<li>{{ datas | json}}</li>
				</ul>
			</pre>
		</div>
</body>
</html>
