<script type="text/ng-template" id="/internal/controllers/jobs/add">

<div class="cm-main_head st-with-button cf">
  <h1>新しい求人を作成</h1>
</div>
<!-- NOTE(kitaly): directive である必要がない気がする -->
<st-job-form></st-job-form> <!-- st-job-form.html -->

<ui-view></ui-view> <!-- Expects Preview Cloak -->


</script>